.App {
  height: 100vh;
  width: 100vw;
  display: grid;
  text-align: center;
  justify-content: center;
  align-content: center;
  background-color: transparent;
  justify-content: center;
  align-content: center;
  overflow: hidden;
}

.mainGrid{
  max-width: 600px;
}
.ButtonBar {
  justify-content: center;
}

.StyleBar {
  justify-content: center;
}
.DimitriSwank {
  font-family: 'Dimitri Swank','arial','san-serif';
  font-size: 100px;
  /* padding: 400px; */
}

.Roboto {
  font-family: 'Roboto','arial','san-serif';
  font-size: 100px;
  /* padding-bottom: 100px; */
}

.ZenDots {
  font-family: 'Zen Dots','arial','san-serif';
  font-size: 100px;
  /* padding: 100px; */
}



