.App {
  min-height: 100vh;
  width: 100vw;
  display: grid;
  text-align: center;
  justify-content: center;
  align-content: center;
  background-color: transparent;
  justify-content: center;
  align-content: center;
  overflow-x: hidden;
  overflow-y: scroll;
}

.mainGrid{
  max-width: 500px;
}

.bigNumber {
  display: grid;
  height: 250px;
  align-content: center;
}

.ButtonBar {
  justify-content: center;
}

.StyleBar {
  justify-content: center;
}

.Dimitri-Swank {
  font-family: 'Dimitri-Swank','arial','san-serif';
  font-size: 100px;
  /* padding: 400px; */
}

.Roboto {
  font-family: 'Roboto','arial','san-serif';
  font-size: 100px;
  /* padding-bottom: 100px; */
}

.ZenDots {
  font-family: 'Zen Dots','arial','san-serif';
  font-size: 100px;
  /* padding: 100px; */
}

.Arvo {
  font-family: 'Arvo','arial','san-serif';
  font-size: 100px;
  /* padding: 100px; */
}

.Arial {
  font-family: 'arial-black','san-serif';
  font-size: 100px;
  /* padding: 100px; */
}

.numberSize{
  justify-content: center;
}

.colorButtons{
  justify-content: center;
}