@font-face {
  font-family: 'Dimitri-Swank';
  src:url('./HOCs/fonts/Dimitri-Swank.ttf.c240f840.woff') format('woff'),
      url('./HOCs/fonts/Dimitri-Swank.ttf.18d64c91.svg') format('svg'),
      url('./HOCs/fonts/Dimitri-Swank.ttf.cf92afcb.eot');
      /* url('./HOCs/fonts/Dimitri-Swank.ttf.eot?#iefix') format('embedded-opentype');  */
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
