@font-face {
  font-family: 'Dimitri-Swank';
  src:url('./HOCs/fonts/Dimitri-Swank.ttf.woff') format('woff'),
      url('./HOCs/fonts/Dimitri-Swank.ttf.svg#Dimitri-Swank') format('svg'),
      url('./HOCs/fonts/Dimitri-Swank.ttf.eot'),
      url('./HOCs/fonts/Dimitri-Swank.ttf.eot?#iefix') format('embedded-opentype'); 
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
